$secondary: #186189;

@import "../node_modules/bootstrap/scss/bootstrap";


body{
    background-color: #e5e5e5;
}
header{
    .logo{
        display: none;
    }
    .usuario{
        .nav-item{
            a{
                color: black !important;
                i{
                    margin-right: 0.5em;
                    color: #fff;
                    background-color: #fa8900;
                    padding: .2em .25em;
                    border-radius: .7em;
                }
            }
            .dropdown{
                padding-left: 0;
                .dropdown-toggle::after{
                    color: #fa8900;
                }
            }
            .dropdown-menu{
                position: absolute;
            }
        }
    }
}
main{
    .publicaciones{
        .container{
            height: 85vh;
            overflow-y: scroll;
            color: white;
            .row{
                border-radius: 20px;
                background-color: $secondary;
                .imagen{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 150px;
                    border-radius: 18px 18px 0 0;
                }
                .texto{
                    p{
                        line-height: 1.2em;
                    }
                    .btn{
                        border-radius: 18px;
                        width: 10em;
                    }
                }
            }
            .row:hover{
                background-color: $primary;
                box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.49);
            }
            
        }
    }
    .grillas{
        .card{
            border:none;
            border-radius: 20px;
            img{
                width: 100%;
                border-radius: 20px;
            }
            .btn{
                border-width: 2px;
                border-radius: 20px;
                padding-left: 2em;
                padding-right: 2em;
            }
            .btn:hover{
                color: #fff;
            }
        }
        .card:hover{
            box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.49);
        }
    }
    .resumen{
        .container{
            h2{
                text-align: center;
                color: #1b286b;
            }
            .row{
                .table{
                    border-radius: 1em;
                    overflow: hidden;
                    border: 4px solid #1b286b;
                    background-color: #1b286b;
                    margin-bottom: 0;
                    td{
                        padding: 1em;
                        background: #2838ad;
                        text-align: center;
                        position: relative;
                        span{
                            position: relative;
                            i{
                                position: absolute;
                                right: -2em;
                                top: .5em;
                                font-size: 1.5em;
                            }
                        }
                    }
                    td::after {
                        content: "";
                        height: 100%;
                        position: absolute;
                        width: 4px;
                        background-color: #1b286b;
                        right: -2px;
                        top: 0;
                        z-index: 1;
                    }
                    td:last-child::after{
                        content: none;
                    }
                    .fa-check{
                        color: yellow;
                    }
                    .fa-times{
                        color: red;
                    }
                }
            }
        }
    }
    .colapsado{
        .container{
            h2{
                text-align: center;
                color: #1b286b;
            }
            .row{
                border-radius: .8em;
                background-color: #1b286b;
                padding: 4px;
                .table{
                    border-radius: 1em;
                    overflow: hidden;
                    margin-bottom: 0;
                    th{
                        padding: 1em;
                        background: #1b286b;
                        border: none;
                        text-align: center;
                        position: relative;
                    }
                    th::after {
                        content: "";
                        height: 100%;
                        position: absolute;
                        width: 3px;
                        background-color: #2838ad;
                        right: -2px;
                        top: -1px;
                        z-index: 1;
                    }
                    th:last-child::after{
                        content: none;
                    }
                    tr.collapse,
                    tr.collapsing{
                        td{
                            background-color: #263891;
                            text-align: left;
                        }
                    }
                    td{
                        padding: 1em;
                        background: #2838ad;
                        text-align: center;
                        border: solid #1b286b;
                        border-width: 0 4px 4px 0;
                        .fa-check{
                            margin-left: 1em;
                            color: yellow;
                        }
                        .fa-times{
                            margin-left: 1em;
                            color: red;
                        }
                        a.text-white{
                            display: block;
                            .fa-chevron-down{
                                float: right;
                                transform: rotate(180deg);
                            }
                        }
                        a[aria-expanded="true"]{
                            .fa-chevron-down{
                                transform: rotate(0deg);
                            }
                        }
                        ul{
                            margin-bottom: 0;
                        }
                        .btn{
                            border-radius: 17px;
                        }
                    }
                    td.boton{
                        padding: .5em;
                    }
                    td:first-child{
                        text-align: left;
                    }
                    td:last-child,
                    th:last-child{
                        border-right-width: 0;
                    }
                }
            }
        }
    }
}
footer{
    background-color: #1a2033;
    text-align: center;
    ul{
        list-style: none;
        padding-left: 0;
        li{
            display: inline-block;
            padding: 0 1em;
            i{
                text-align: center;
                width: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    footer{
        text-align: left;
        img{
            float: right;
        }
        ul{
            li{
                display: list-item;
            }
        }
    }
    main{
        .publicaciones{
            .container{
                .row{
                    .imagen{
                        height: 220px;
                    }
                    
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header{
        .logo{
            display: block;
            background-position-y: 20%;
            background-repeat: no-repeat;
            background-size: cover;
            width: 120px;
            height: 50px;
            position: relative;
            border-radius: 16px;
        }
        .usuario{
            flex-direction: row;
            :first-child{
                .nav-link{
                    padding-right: 0;
                }
                span{
                    padding-right: .5em;
                    border-right: 2px solid #007bff;
                }
            }
            .dropdown{
                margin-left: .5em;
            }
        }
    }
    main{
        .publicaciones{
            .container{
                .row{
                    .imagen{
                        height: 270px;
                    }
                    
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header{
        .logo{
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0 0 16px 16px;
        }
        .usuario{
            margin-left: 120px;
        }
        .navegacion{
            border-radius: 0 0 16px 16px;
            background-color: #1a2033;
            .navbar-nav{
                width: 100%;
                .nav-item{
                    .nav-link{
                        color: #0071bc;
                    }
                }
                .nav-item.active{
                    font-weight: bold;
                    :hover{
                        ::after{
                            display: block;
                            position: absolute;
                            margin-left: 0.255em;
                            content: "";
                            border-top: 0.3em solid;
                            border-right: 0.3em solid transparent;
                            border-bottom: 0;
                            border-left: 0.3em solid transparent;
                        }
                    }
                }
            }
        }
    }
    main{
        .publicaciones{
            .container{
                .row{
                    .imagen{
                        height: auto;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}